span.keyboardElements {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 650px;
  margin-bottom: 90px;
}

.eachKey {
  background-color: #6272a4;
  color: #f8f8f2;
  border: none;
  font-size: 30px;
  border-radius: 2px;
  font-weight: bold;
  font-family: "Patrick Hand", cursive;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.correct {
  background-color: #31b653;
}

.incorrect {
  background-color: #ba3c3c;
}
