/*
Dark mode:
Background: Dark Blue (#1e1e2e) 
Word/Letters: Off-White (#f8f8f2) 
Correct Guesses: Soft Green (#50fa7b) 
Incorrect Guesses: Bright Red (#ff5555) 
Hangman Drawing: Light Gray (#b0bec5) 
Buttons/UI Elements: Electric Blue (#6272a4)

Ligth mode:
Background: Soft Beige (#fAf3e0)
Word/Letters: Dark Gray (#333333)
Correct Guesses: Green (#4caf50)
Incorrect Guesses: Red (#e63946)
Hangman Drawing: Dark Brown (#5d4037)
Buttons/UI Elements: Blue (#1976d2)
*/

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

body {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #1e1e2e;
  font-family: "Patrick Hand", cursive;
  color: #f8f8f2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-height: 200px;
}

section.information-section {
  text-align: center;
  font-size: 34px;
}

section.hangmanStatus {
  min-height: 400px;
}

.attempts {
  font-size: 20px;
}

.attemptsLow {
  font-size: 20px;
  animation: blink 0.2s;
  animation-iteration-count: 3;
  color: #e63946;
}

span.eachLetterElements {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: end;
  border-bottom: 2px solid #6272a4;
  font-size: 36px;
}

.newGameButton {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #acb259;
  color: #f8f8f2;
  font-size: 30px;
  font-family: "Patrick Hand", cursive;
  cursor: pointer;
}
